body {
  background-color: #f4f5f6;
  font-size: 16px;
}

header {
  height: 150px;
}

#content {
  max-width: 1310px;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.arial-helvetica {
  font-family: Arial, Helvetica, sans-serif;
}

.lora {
  font-family: "Lora",serif;
}

.small-tags {
  color: black;
  background-color: #c2d4d7;
}

.small-tags:hover {
  color: white!important;
  background-color: black;
}

#banner {
  height: 100px
}

#min-logo {
  width: 80px;
  height: auto;
  fill:white
}

nav {
  height: 56px;
  background-color: white;
}

nav div ul{
  height: 10px
}

nav div ul li{
  line-height: 12px;
}

.font-size-21 {
  font-size: 1.1em;
}

#logo {
  height: auto;
  width: 360px;
  fill: white;
}

main {
  min-height: 500px;
}

.gray-section-header {
  color: rgba(3,3,3,.4);
}

section h1, h3 {
  font-size: 1.1em;
  font-weight: 600;
}

.opinion > a:hover {
  color: #ef4e17 !important;
}

.tags {
  left: 15px;
  bottom: 0;
  opacity: .8
}

.card .tags {
  left: 0;
}

.font-20 {
  font-size: 20px;
  line-height: 24px;
}

.font-18 {
  font-size: 24px;
  line-height: 20px
}

.min-height {
  min-height: 400px;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: #f72210 !important;
  }

  header {
    height: 50px;
  }

  .opinion {
    height: 73px;
  }
}

@media only screen and (max-width: 992px) {
  nav {
    background-color: white;
  }
}
