body {
  background-color: #f4f5f6;
  font-size: 16px;
}

header {
  height: 150px;
}

#content {
  max-width: 1310px;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.arial-helvetica {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  height: 100px
}

nav {
  height: 56px;
}

nav div ul{
  height: 10px
}

nav div ul li{
  line-height: 12px;
}

.font-size-21 {
  font-size: 1.2em;
}

svg {
  height: auto;
  width: 360px;
  fill: white;
}
