body {
  background-color: #f4f5f6;
}

header {
  height: 150px;
  margin-bottom: 3px;
}

#banner {
  background-color: #ef4e17;
  align-items: flex-end;
  height: 95px;
}

#main-logo {
  color: white;
  text-decoration: none;
}

#main-logo svg {
  fill: white;
  height: 60px;
}

.no-text-decoration {
  text-decoration: none;
}

.no-text-decoration:hover {
  text-decoration: none;
}

#banner-links {
  justify-content: flex-end;
}

#navigation {
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.no-padding {
  padding: 0;
}

.font-weight-900 {
  font-weight: 900;
}

.pl-10 {
  padding-left: 10px;
}

#navigator a {
  font-size: medium;
  border-right: 2px ridge rgba(255, 255, 255, 0.966);
  margin: 10px 5px 10px 5px;
  line-height: 5px;
}

main {
  min-height: 500px;
}


.section-header-1 {
  font-size: 1.0em;
  color: #a0a0a0;
  font-weight: 600;
}

article h2 {
  font-size: 1em;
  font-weight: 900;
}

article div {
  position: relative;
}

article h4 {
  font-size: medium;
  position: absolute;
  top: 89%;
  background-color: white;
  font-weight: 800;
  opacity: 0.8;
}

article > div > a:hover {
  text-decoration-color: red;
}

article p {
  font-size: 0.8em;
}

article  > div > div a {
  color: black;
  background-color: #c2d4d7;
  font-size: smaller;
}

article > div > div > a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.bg-gray {
  background-color: #f4f5f7;
}

.lighter-header {
  font-size: 1.2em;
  font-weight: 500;
}

.avatar {
  border-radius: 100%;
}

.aside-author {
  font-size: small;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: #837f6b;
}

.hover-red {
  color: black;
}

.hover-red:hover {
  color: #ef4e17 !important;
  text-decoration: none;
}